header {
    background-color: #fff;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 50%;
    margin-right: -50%;
    margin-top: -8px;
    transform: translate(-50%, 0%);
    position: fixed;
    z-index: 10;
}
.header {
    width: 72.2222222%;
    padding: 10px 0 10px 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: inline-flex;
}
.menu-item {
    padding: 0 12px;
    list-style-type: none;
}
.popup {
    height: auto;
    padding: 8px 16px;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 16px;
    background-color: #CCF2F4;
    border: none;
    border-radius: 20px;
    margin-top: 5;
}
